---
import Page from "../layouts/Page.astro";

import { HiArrowRight } from "react-icons/hi";
import { FaGithub } from "react-icons/fa";
---

<Page>
  <div class="max-w-lg mx-auto mt-12 flex flex-col jjustify-center space-y-8">
    <h1 class="text-5xl font-bold text-center">
      Create accessible apps
      <span class="text-pink-500">with speed</span>
    </h1>
    <div class="w-full flex justify-center space-x-4">
      <a
        class="btn btn-pink btn-lg px-8 py-4 flex items-center"
        href="/components"
      >
        Get Started <HiArrowRight className="ml-4" /></a
      >
      <button class="btn btn-lg px-8 py-4 flex items-center"
        ><FaGithub className="mr-4" /> Github</button
      >
    </div>
  </div>
</Page>

<style></style>
