.tag {
    height: fit-content;
    width: fit-content;

    @apply bg-gray-200 text-gray-900 font-semibold text-lg rounded-md px-2 inline-flex items-center
    dark:bg-gray-700 dark:text-inherit;

    &-sm {
        @apply text-base;
    }

    &-lg {
        @apply text-xl px-3 py-1;
    }

    @each $color in slate, gray, zinc, neutral, stone, red, orange, amber, yellow, lime, green, emerald, teal, cyan, sky, blue, indigo, violet, purple, fuchsia, pink, rose {
        &-$(color) {
            @apply bg-$(color)-200/75 text-$(color)-700
            dark:bg-$(color)-400/25 dark:text-$(color)-300;
        }
        &-$(color).tag-solid {
            @apply bg-$(color)-500 text-white
            dark:bg-$(color)-500;
        }
        &-$(color).tag-outline {
            @apply bg-transparent border-2 border-$(color)-500 text-$(color)-700
            dark:text-$(color)-300;
        }
    }
}